body
{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: hsla(0, 10%, 10%, 1.0);
    margin: 2em;
    /*height:1500px;*/
}

.canvas
{
    height:600px;
}






#plot2
{
    position:absolute;
    float:right;
    left:60%;
    width:35%;
    margin-top: 2.3%;
    height:100%;

}
#text2
{
    /*padding-left: 5%;*/
    padding-top: 9%;
    float: left;
    width:60%;
    height:6%;
    text-align: left;
    /*background-color: bisque;*/

}
#chart2
{
    clear:both;
    position: relative;
    width:60%;

}

h2{
    width:80%;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;

}



#plot3
{

    position:absolute;
    float:right;
    left:60%;
    width:35%;
    margin-top: 2.3%;
    height:100%;

}
#text3
{
    /*padding-left: 5%;*/
    padding-top: 9%;
    float: left;
    width:60%;
    height:6%;
    text-align: left;
    /*background-color: bisque;*/

}
#chart3
{
    clear:both;
    position: relative;
    width:60%;

}

h3{
    width:80%;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;

}




#plot4
{

    position:absolute;
    float:right;
    left:60%;
    width:35%;
    margin-top: 2.3%;
    height:100%;

}
#text4
{
    /*padding-left: 5%;*/
    padding-top: 9%;
    float: left;
    width:60%;
    height:6%;
    text-align: left;
    /*background-color: bisque;*/

}
#chart4
{
    clear:both;
    position: relative;
    width:60%;

}

h4{
    width:80%;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;

}





#plot5
{
    position:absolute;
    float:right;
    left:60%;
    width:35%;
    margin-top: 2.3%;
    height:100%;

}
#text5
{
    /*padding-left: 5%;*/
    padding-top: 7%;
    float: left;
    width:60%;
    height:9%;
    text-align: left;
    /*background-color: bisque;*/

}
#chart5
{
    clear:both;
    position: relative;
    width:60%;

}

h5{
    width:80%;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;

}




#plot6
{

    position:absolute;
    float:right;
    left:60%;
    width:35%;
    margin-top: 2.3%;
    height:100%;

}
#text6
{
    /*padding-left: 5%;*/
    padding-top: 7%;
    float: left;
    width:60%;
    height:9%;
    text-align: left;
    /*background-color: bisque;*/

}
#chart6
{
    clear:both;
    position: relative;
    width:60%;

}

h6{
    width:80%;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;

}




#plot7
{

    position:absolute;
    float:right;
    left:60%;
    width:35%;
    margin-top: 2.3%;
    height:100%;

}
#text7
{
    /*padding-left: 5%;*/
    padding-top: 9%;
    float: left;
    width:60%;
    height:6%;
    text-align: left;
    /*background-color: bisque;*/

}
#chart7
{
    clear:both;
    position: relative;
    width:60%;

}

h7{
    width:80%;
    font-family: Raleway;
    font-weight: 200;
    font-size: 12px;

}



#vis2{
    width:100%;
    height:400px;
    /*position:relative*/
    z-index:9999;
    top:0;
    left:0;
}
.active2{
    position:fixed;
    /*background-color: antiquewhite;*/
    /*height:100px;*/
    top:0;
    left:0;
    z-index:9999;
}
/*#scene-1{}*/
/*#scene-2{}*/
/*#scene-3{}*/
/*#scene-4{}*/
/*#scene-5{}*/
/*#scene-6{}*/
/*#scene-7{}*/
/*#scene-8{}*/























.area0 {
    fill: red;
    opacity: 0.3;
}
.area1 {
    fill: blue;
    opacity: 0.3;
}

.line1 {
    stroke: blue;
    opacity: 0.3;
    /*border-style:dotted;*/
    stroke-width: 30 px;
}
.line0 {
    stroke: red;
    opacity: 0.3;
    /*border-style:dotted;*/
    stroke-width: 30 px;
}

.legendRed,.legendBlue {
    /*stroke: red;*/
    opacity: 0.3;
    /*border-style:dotted;*/
    /*stroke-width: 30 px;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.y.axis path {
    display: none;
}
.axis-y text{
     fill:rgb(80,80,80);
     font-size:0.6em;
 }

.axis-x text{
    fill:rgb(80,80,80);
    font-size:0.8em;
}